* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 1em monospace;
}

html, body {
  height: 100%;
  overflow: clip;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  /* ~ */
  background: #111;
}

#data {
  position: absolute;
  top: 0;
  left: 0;

  color: white;
}